/*General*/
.text-shadow {
	text-shadow: 0 .9rem 1rem rgba(0,0,0,.3)!important;
}

.text-logo {
  font-family: fantasy;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 19px;
    line-height: 1.42857;
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

.card{
  background-color: unset !important;
}

.border-light {
    border-color: #505050!important;
}

.blackBox {
    background-color: hsl(0deg 0% 0% / 72%);
    border-radius: 0.7rem !important;
    padding: 1.5rem!important;
    height: 100%;
}

.gb-gray-li {
  background: #000000 !important;
}

/*Hero seccion*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg1.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
}

#hero .container {
  position: relative;
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
  #hero .container {
    padding-bottom: 63px;
  }
}
@media (max-height: 600px) {
  #hero {
    height: 110vh;
  }
}

#hero .sliders {
	height: 90vh;
}

#hero .super-h1{
	position: relative;
    display: block;
    font-family: fantasy;
    font-weight: 400;
    font-size: 150px;
    line-height: 0.866;
    color: #fff;
    text-shadow: 0px 12px 9px rgb(0 0 0 / 35%);
    letter-spacing: -3px;
}

@media (max-width: 2100px){
	#hero .super-h1 {
	    position: relative;
	    display: block;
	    font-family: fantasy;
	    font-weight: 400;
	    font-size: 150px;
	    line-height: 0.866;
	    color: #fff;
	    text-shadow: 0px 12px 9px rgb(0 0 0 / 35%);
	    letter-spacing: -3px;
	}
}

#hero .txt1{
	z-index: 5;
}

#hero .txt2{
	z-index: 4;
	margin-top: -13px;
}

#hero .txt3{
	z-index: 3;
	margin-top: -13px;
}

/*Header*/
.header-top {

}

/*seccion top music*/
.radio1 {
    position: relative;
    border-top: 1px solid #343434;
    min-height: 92px;
}

.radio1 > div {
    float: left;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.radio1 .sec1 {
    width: 25%;
    color: #959595;
}

.radio1 .sec2 {
    width: 47%;
}

.sec2-music {
    position: relative;
}

.sec2-music .caption .top {
    padding-bottom: 2px;
}

.sec2-music .caption .txt1 {
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding-right: 15px;
}

.sec2-music .caption .txt2 {
    display: inline-block;
}

.sec2-music figure {
    margin: 0 15px 0 0;
    float: left;
}

.sec2-music .caption .txt3 {
    font-size: 13px;
    color: #8f8f8f;
}

.ic2 {
    display: inline-block;
    font-size: 13px;
    color: #8f8f8f;
    padding-right: 15px;
}

.ic2 i {
    color: #fff;
}

.radio1 .sec4 {
    width: 14%;
    padding-right: 0;
}

.radio1 .sec1 .txt1 {
    font-weight: 700 !important;
    color: #fff !important;
}

/*Seccion 1*/
.bg-img {
    background: url(https://demo.gridgum.com/bootstrap/hit-radio/dark/images/bg1.jpg) 0 0 no-repeat #000;
    background-size: cover;
}

#welcome .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.1);
}

#welcome .img-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.3);
}

#welcome .wrap-sec-welcome .img-hover {
  -webkit-transition: 0.2s ease-in;
   -o-transition: 0.2s ease-in;
   transition: 0.2s ease-in;
}

#welcome .wrap-sec-welcome .img-hover:hover {
  -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
}

#welcome .wrap-sec-welcome .uneven-box {
    margin-top: 70px;
}

#welcome .rounded {
  border-radius: 1rem!important;
}

@media (max-width: 767px) {
    #welcome .wrap-sec-welcome .uneven-box {
      margin-top: 0px;
  }
}